:root{
    --size-avatar: 100px;
    --bg-color-card: teal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    background-color: black;
}
h1,
p{
    text-align: center;
}
h1{
    color: #a8877c;
    margin: 0;
    padding-top: 30px;
    position: relative;
}
h1::after{
    position: absolute;
    width: 100px;
    top: 77%;
    left: 13%;
    content: '';
    background-color: #d5d5d5;
    height: 2px;
    display: block;
}
h1::before{
    position: absolute;
    width: 100px;
    bottom: 20%;
    right: 13%;
    content: '';
    background-color: #d5d5d5;
    height: 2px;
    display: block;
}
.create{
    width: 100%;
    margin-bottom: 40px;
    color: #c1cde1;
}
.register{
    margin: auto;
    margin-top: 100px;
    padding: 50px 0 10px 0;
    width: 30%;
    background-color: #63748b;
}
.section{
    margin: auto;
    width: 80%;
    background-color: #f2f3f7;
    font-size: 15px;
    height: 500px;
}
.form{
    color: #a7aabc;
    margin: auto;
    width: 80%;
    height: 450px;
    align-items: center;
}
.name{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
::placeholder{
    padding-left: 10px;
}
.name>input{
    width: 46%;
}
.name2{
    display: flex;
    flex-direction: column;
}
label>a{
    color: #5cb86a;
}
.white-text{
    color: white;
    font-size: 15px;
}
.white-text>a{
    text-decoration: underline;
}
input{
    height: 40px;
    margin-bottom: 20px;
}
label>input{
    height: 15px;
}
button{
    width: 100%;
    height: 40px;
    background-color: #46a146;
    color: white;
    font-size: 15px;
}