:root{
    --size-avatar: 100px;
    --bg-color-card: teal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
}
.usa{
    text-transform: uppercase;
}
.user-adress::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    content: url(./../icons/map-marker.svg);
}
.cards-container{
    width: 50%;
    margin: auto;
    background-color: pink;
}
.flex-wrapper{
    display: flex;
    justify-content: space-around; 
}
.user-card{
    flex: 0 0  calc(4*var(--size-avatar));
    padding-top: var(--size-avatar);
    background-color: var(--bg-color-card);
    text-align: center;
}
.user-info{
    background-color: white;
    padding-bottom: 10px;
}
.user-avatar{
    width: var(--size-avatar);
    height: var(--size-avatar);
    margin-top: calc(-0.5*var(--size-avatar));
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    object-position: top;
}
.user-name{
    margin: 15px 0;
    font-size: 30px;
}
.user-adress{
    margin-bottom: 40px;
}
.user-header,
.container-btn{
    text-transform: capitalize;
}
.container-btn{
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.container-btn>a:first-child{
    font-size: 15px;
    border-radius: 3%;
    padding: 7px 5px;
    background-color: teal;
}
.container-btn>a:last-child{
    font-size: 15px;
    border-radius: 3%;
    padding: 7px 5px;
    background-color: pink;
}
.container-btn::before{
    position: absolute;
    width: 88%;
    top: -100%;
    right: 6%;
    content: '';
    background-color: rgb(65, 141, 141);
    height: 1px;
    display: block;
}
.container-btn::after{
    position: absolute;
    width: 88%;
    bottom: -100%;
    right: 6%;
    content: '';
    background-color: rgb(65, 141, 141);
    height: 1px;
    display: block;
}
.user-discription{
    margin-bottom: 40px;
}
.social-list{
    margin: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social-list>li{
    padding: 5px;
}
